@keyframes slideDown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}

.dropdown {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.dropdown2 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.group:hover .dropdown {
  animation: slideDown 1s ease-out forwards;
}
.group:hover .dropdown2 {
  animation: slideDown 0.5s ease-out forwards;
}

a {
  font-size: 14px;
  font-weight: 700;
}
.Home-Name > li {
  padding-right: 40px;
  display: flex;
  align-items: center;
}

.icon a:hover {
  color: white;
}
